@model ConsumeWebAPI.Models.PartModel

@{
    ViewBag.Title = "Copy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consume Asp.net WebAPI :: Copy</h2>
<article>
    <p>
        Do you want to copy this part?
    </p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset>    
        <legend>Part</legend>
        <div class="label">
            @Html.DisplayNameFor(model => model.PartKey)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PartKey)
            @Html.HiddenFor(model => model.PartKey)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.PartNo)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.PartNo)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Revision)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Revision)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Note)
        </div>
        <div class="label">
            @Html.DisplayFor(model => model.Note)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdateBy)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdatedDate)
        </div>

         <div class="label">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

            <p>
                <input type="submit" value="Copy" /> @Html.ActionLink("Cancel", "Index", null, new { @class = "actionlinkbutton" })
            </p>
        </fieldset>
    }


</article>

<aside>
    <h3>Navigation</h3>
    <p>
        From here you can navigate other parts of app.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Part List", "Index", "part")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
