@model ConsumeWebAPI.Models.PartAddModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new record of part</h2>

<article>
    <p>
        Fill out the form completely to add the part.
    </p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>partModel</legend>
        <div class="label">
            @Html.DisplayNameFor(model => model.PartNo)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.PartNo)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Revision)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Revision)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="label">
            @Html.EditorFor(model => model.Description)
        </div>

            <p>
                <input type="submit" value="Create" />  @Html.ActionLink("Cancel", "Index", null, new { @class = "actionlinkbutton" })
            </p>
        </fieldset>
    }
</article>
<aside>
    <h3>Navigation</h3>
    <p>
        From here you can navigate other parts of app.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Part List", "Index", "part")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
