@model ConsumeWebAPI.Models.PartModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consume Asp.net WebAPI :: Delete</h2>

<article>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <div class="label">
            @Html.DisplayNameFor(model => model.PartKey)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PartKey)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Revision)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Revision)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.PartNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PartNo)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Note)
        </div>
        <div class="display-field">
            @Html.DisplayNameFor(model => model.Note)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdateBy)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdatedDate)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> @Html.ActionLink("Cancel", "Index", null, new { @class = "actionlinkbutton" })
        </p>
    }
</article>

<aside>
    <h3>Navigation</h3>
    <p>
        From here you can navigate other parts of app.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Part List", "Index", "part")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>