@model ConsumeWebAPI.Models.PartModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consume Asp.net WebAPI :: Details</h2>
<article>
   <p>
        Proposed deletion
    </p>

    <fieldset>
        <div class="label">
            @Html.DisplayNameFor(model => model.PartKey)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PartKey)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Revision)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Revision)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.PartNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PartNo)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.Note)
        </div>
        <div class="label">
            @Html.DisplayNameFor(model => model.Note)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdateBy)
        </div>

        <div class="label">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdatedDate)
        </div>

        <div class="display-field">
            @Html.DisplayNameFor(model => model.MRPDemandLevel)
        </div>
        <div class="label">
            @string.Format(Model.MRPDemandLevelBool() ? "Yes" : "No")
        </div>
        <div class="label">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PartKey }, new { @class = "actionlinkbutton" }) @Html.ActionLink("Cancel", "Index", null, new { @class = "actionlinkbutton" })
    </p>
</article>

<aside>
    <h3>Navigation</h3>
    <p>
        From here you can navigate other parts of app.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Part List", "Index", "part")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
